.header__main-illustration {
  background-image: url(../../../images/two_again.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 605px;
  z-index: 1;
}
